@import "~styles/variables";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'IBM Plex Sans', sans-serif;
    background-color: $background-color;
    color: $text-color;
}

h1 {
    margin: 0;
    font-size: 3rem;
    padding: 0.25rem 0;        
    color: $header-color;

    @media #{$small} {
        font-size: 1.5rem;
    }
}

h2 {
    @media #{$small} {
        font-size: 1rem;
    }
}

h4 {
    padding: 0;
    margin: 0;
}

p {
    font-weight: 10;
    padding: 0;
    margin: 0;
}
