$dark-gray: hsl(0, 0%, 25%);
$gray: hsl(0, 0%, 50%);
$light-gray: hsl(0, 0%, 75%);

$red: hsl(0, 50%, 50%);

$background-color: #8347e2;
$section-color: #120a29;

$header-color: #ead47a;
$text-color: #00ff86;

$blue: #081b46;
$redish: #ff6060;
$offwhite: #ffdfda;


$medium: "only screen and (max-width : 50em)";
$small: "only screen and (max-width : 30em)";
