@import "~styles/variables";

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    > * {
        padding: 0.5rem 0;

        &:last-child {
            padding: 0;
        }
    }
}

.image {
    align-self: flex-start;
    max-width: 25rem;

    @media #{$medium} {
        align-self: center;
        max-width: 100%;
    }
}

.text {
    flex: 1;
}
