@import "~styles/variables";

.listItem {
    &:not(:first-child) {
        margin: 1rem 0;
    }
}

.wrapper {
    display: flex;
    padding: 0.5rem 1rem;

    &:link {
        text-decoration: none;
        box-shadow: 0rem 0.5rem 2rem $text-color;
    }

    &:hover {
        color: $light-gray;
        box-shadow: 0rem 0.5rem 2rem $light-gray;
    }

    &:active {
        color: $red;
        box-shadow: 0rem 0.5rem 2rem $red;
    }

    &:visited {
        color: $section-color;
    }
}

.go {
    flex: 1 1 auto;
    text-align: right;
    align-self: center;
}
