@import "~styles/variables";

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

    grid-template-areas:
    "tit tit tit inf"
    "sum sum sum sum"
    "epi epi img img";

    @media #{$medium} {
        grid-template-areas:
        "tit tit tit tit"
        "inf inf img img"
        "sum sum img img"
        "epi epi epi epi";
    }

    @media #{$small} {
        grid-template-areas:
        "img img img img"
        "tit tit tit tit"
        "inf inf inf inf"
        "sum sum sum sum"
        "epi epi epi epi";

        background-color: $background-color;
    }

    > * {
        padding: 0.5rem 0;
    }
}

.title {
    grid-area: tit;
}

.info {
    grid-area: inf;
    font-style: italic;
    justify-self: flex-end;
    list-style: none;
    margin: 0;

    @media #{$medium} {
        justify-self: flex-start;
        font-size: 0.8rem;
    }
}

.summary {
    grid-area: sum;
}

.episodes {
    grid-area: epi;
    list-style: none;
    margin: 0;
}

.image {
    grid-area: img;
    width: 100%;

    @media #{$small} {
        padding: 0;
    }
}
